section .slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.slider-content {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;

}

.slider-content input {
    display: none;
}

.slide-box {
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
    padding-top: 5%;    
    padding-left: 50%;
    
}

.slide-box img { /*tamanho das imagens*/
    width: 300px;
}

.nav-manual,
.nav-auto { /*posicionamento do botão*/
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;

}

.nav-manual .manual-btn,
.nav-auto div { /*inputs(botoes)*/
    border: 1px solid red;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    /*dar um espaçamento para os inputs para a direita, last child == exceto o ultimo input*/
    margin-right: 10px;

}

.nav-manual .manual-btn:hover {
    background-color: red;
}

#radio1:checked~.nav-auto .auto-btn1, #radio2:checked~.nav-auto .auto-btn2, #radio3:checked~.nav-auto .auto-btn3  {  /*quando os inputs estiverem marcados, ele muda a cor do background*/
   
    background-color: red;
}
#radio1:checked ~ .primeiro{ /*passa os slides*/
    margin-left: -10%;
}
#radio2:checked ~ .primeiro{ /*passa os slides*/
    margin-left: -80%;
}
#radio3:checked ~ .primeiro{ /*passa os slides*/
    margin-left: -150%;
}


