*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c8c8c8;
    }
    .card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .card{
    
    }
    .integrante{
        display: flex;
        border: 2px solid;
    }
    .foto{
        height: 250px;
        width: 250px;
        padding-top: 4%;
    }
    img{
    
    }
    .nome{
        display: flex;
        justify-content: center;
    }
    p{
        font-size: 16px;
    }
    nav{
        background-color: #676464;
        display: flex;
        align-items: center;
    }
    a{
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: #676464;
    }
    a:hover{
        color: palegoldenrod;
        font-weight: bold;
        font-size: 16px;
    }
    .menu-imagem{
        height: 30px;
        cursor: pointer;
        background: #676464;
    }
    .logo{
        height: 50px;
        background: #1a1a1a;
    }
    .titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1a1a1a;
    }
    .qualquer-coisa{
        padding-left: 5%;
        padding-top: 5%;
    }
    .nome{
        padding-top: 5%;
    }
    .texto-titulo{
        background-color: #1a1a1a;
        color:white;
    }
    .container{
        width: 70px;
        height: 30px;
        background: grey;
        border-radius: 30px;
        overflow: hidden
    
    }
    
    .circulo{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: blue;
        position: relative;
        top: 0;
        left: 0;
        transition: left 0.3s;
        
    
    }
    .background{
        width: 0px;
        transition: width 0.3s;
        height: 30px;
        background: rgb(0, 180, 70);
        border-radius: 30px;
        
      
    }
    
    /* display flex, 
    justify-content, 
    align-items, 
    transition, 
    hover, 
    transform, 
    background-color ou image, 
    font-family e 
    font-size */